# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff
*.log
db.sqlite3

# Environment variables
.env

# VSCode or other editor folders
.vscode/
.idea/

# Static files (optional if generated)
staticfiles/
