<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}>
    <title>My Form</title>
</head>
<body>
    <header>
    <h1>Thank you <small>for submitting the form</small></h1>
    <p>Return to <a href="{% url 'home' %}">form</a></p>
    </header>   
</body>
</html>